body {
    background-color: #e2e2e2;
    /*background-image: url('../img/air.png');*/
}
nav.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 30px #5a5a5a;
    min-width: 1080px;
}
div.left_main {
    padding-top: 20px;
}
.container {
    width: 1080px !important;
    max-width: none !important;
}
.left-main {
    width: 86% !important;
}
#post-type {
    font-size: 14px;
    border: none;
}
#post-type:hover {
    border: none;
}

#type-link {
    color: #000000;
    padding: 5px 8px 5px 8px;
    margin-right: 7px;
}
#type-link:hover {
    background-color: #f5f5f5;
    border-radius: 3px;
}
#type-link:active {
    background-color: #001d25;
    border-radius: 3px;
    color: #fff;
}

#node-nav {
    background-color: #f9f9f9;
    border: none;
    font-size: 14px;
    padding: 4px;
    padding-left: 18px;
}
#node-link {
    color: #000000;
    padding: 5px 8px 5px 8px;
    margin-right: 7px;
}
#node-link:hover {
    text-decoration: underline;
}

.list-group-item:hover {
    z-index: 0;
}
#post-title {
    color: #4d5256;
    text-decoration: none;
}
#post-title:hover {
    text-decoration: underline;
}
#index-post-node {
    /*font-size: 12px;*/
    color: #999;
    background-color: #f5f5f5;
    border-radius: 2px;
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    line-height: 12px;
}
#index-post-node:hover {
    text-decoration: none;
    background-color: #e2e2e2;
    color: #777;
}
.post-node {
    display: inline-block;
}
.post-info {
    font-size: 12px;
    color: #ccc;
    line-height: 200%;
}
.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border-bottom: 1px solid #e2e2e2;
}
#hot-post {
    margin-top: 20px;
}
#card-nav {

}
ol.breadcrumb {
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;
    background-color: #fff;
    font-size: 16px;
}
#register-form {
    padding-top: 10px;
    padding-left: 30px;
    width: 550px;
}
#register-form input {
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 240px;
    font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB","Microsoft Yahei";
}
#register-form label {
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}
#user-card .list-group-item {
    font-size: 14px;
    padding: 10px 10px 10px 10px;
}
#user-card p {
    margin-bottom: 0px;
}
