{% extends 'base.html' %}

{% block left_main %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <ul class="nav" id="post-type">
                {% for t in tag_list %}
                <li class="nav-item">
                    <a class="nav-link" id="type-link" href="{{ url_for('main.index',tag=t) }}" {% if t == tag %}style="background-color: #001d25;border-radius: 3px;color: #fff;" {% endif %}>{{ t }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="list-group-item" id="node-nav">
            <ul class="nav" id="node">
                {% for n in node_list %}
                <li class="nav-item">
                    <a class="nav-link" id="node-link" href="#">{{ n.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% for p in posts %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1"><img src="{{ p.author.avatar }}" height="48px" width="48px" class="rounded"> </div>
                <div class="col-md-10">
                    <span class="post-title"><a href="#" id="post-title">{{ p.title }}</a></span><br />
                    <span class="post-info">
                        <div class="post-node"><a href="#" id="index-post-node">{{ p.node.name }}</a></div>&nbsp • &nbsp
                        <strong style="color:#4d5256;">{{ p.author.username }}</strong>
                        &nbsp • &nbsp<script>document.write(moment("{{ p.publish_time }}","YYYYMMDD").fromNow());</script>&nbsp • &nbsp最后回复来自
                    </span>
                </div>
                <div class="col-md-1"><span class="badge badge-pill badge-info">{{ p.chick }}</span></div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="card-footer">
        更多新主题
    </div>
</div>
{% endblock %}

{% block right_main %}
    {% include 'user_card.html' %}
{% endblock %}