{% extends 'base.html' %}

{% block left_main %}
<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-10">
                    <p style="margin-bottom: 10px"><a href="/">V2EX</a> › <a href="{{ url_for('main.node',name=post.node.name) }}">{{ post.node.name }}</a></p>
                    <h1 style="font-size: 24px;">{{ post.title }}</h1>
                    <p style="color: #999;margin-bottom: 0px;font-size: smaller">{{ post.author.username }} · <script>document.write(moment("{{ post.publish_time }}","YYYYMMDD").fromNow());</script> · 999次点击</p>
                </div>
                <div class="col-1" style="margin-left: 30px">
                    <img class="rounded" src="{{ post.author.gravatar() }}" width="73" height="73" />
                </div>
            </div>
        </li>
        <li class="list-group-item">
            {{ post.content|safe }}
        </li>
    </ul>
</div>
{% endblock %}