<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p style="font-size: 10px;">今日热议话题</p>
        </li>
        {% for h_p in hot_posts[:5] %}
        <li class="list-group-item">
            <a href="{{ url_for('main.user',username=h_p.author.username) }}"> <img src="{{ h_p.author.gravatar() }}" width="24" height="24" /></a>
            <small style="color: #999;"><a href="{{ url_for('main.post',id=h_p.id) }}"> {{ h_p.title }}</a></small>
        </li>
        {% endfor %}
    </ul>
</div>